<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog: Home</title>
    <link rel="shortcut icon" href="/img/logo.jpeg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-inner">
            <img src="/img/logo.jpeg" class="logo" alt="Logo">
            <ul class="links-container">
                <li class="link-item"><a href="/" class="link">Home</a></li>
                <li class="link-item"><a href="/new" class="link">Editor</a></li>
            </ul>
            <label class="switch">
                <span class="theme-emoji" id="light-emoji">☀️</span>
                <input type="checkbox" id="theme-switch">
                <span class="slider"></span>
                <span class="theme-emoji" id="dark-emoji">🌙</span>
            </label>
        </div>
    </nav>

    <header class="header">
        <div class="content">
            <h1 class="heading">
                <span class="small">Welcome to the world of</span>
                Blog <span class="no-fill">Writing</span>
            </h1>
            <a href="/new" class="btn">Write a Blog</a>
        </div>
    </header>

    <section class="blogs-section">
        <% blogs.forEach(blog => { %>
            <div class="blog-card">
                <% if (blog.bannerImage) { %>
                    <img src="<%= blog.bannerImage %>" class="blog-header-image" alt="Header Image">
                <% } %>
                <h2 class="blog-title"><%= blog.title %></h2>
                <p class="blog-overview">
                    <%= blog.content ? blog.content.substring(0, 200) + '...' : 'No content available.' %>
                </p>
                <a href="/<%= blog.id %>" class="btn read-btn">Read</a>
            </div>
        <% }) %>
    </section>


    <script>
        const toggleSwitch = document.querySelector('#theme-switch');
        const lightEmoji = document.querySelector('#light-emoji');
        const darkEmoji = document.querySelector('#dark-emoji');

        const updateTheme = () => {
        if (toggleSwitch.checked) {
            document.body.classList.add('dark-mode');
            lightEmoji.style.opacity = 0.3;
            darkEmoji.style.opacity = 1;
        } else {
            document.body.classList.remove('dark-mode');
            lightEmoji.style.opacity = 1;
            darkEmoji.style.opacity = 0.3;
        }
        };

        toggleSwitch.addEventListener('change', updateTheme);
        updateTheme();
    </script>
    
</body>
</html>
